html, body, div {
  font-family:Verdana, Tahoma, sans-serif, Roboto;
}

.bg {
  background-image: url(bg.png);
  background-size: 100% 100%;
  z-index: -1;
}

p.mainTitle {
 font-size:15px;
 font-weight: bold;
 color:black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ABCAD8;
    color: black;
    padding: 0px 10px 0px 10px;
  }
  
  .logo {
    background-image:url(./logo.png);
    width:180px;
    height: 50px;
    font-size: 24px;
  }
  
  .menu a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
  }

  .menu a:hover {
    color:darkgoldenrod;
    background-color: #cdefff;
  }
  .menu a:active {
    color:goldenrod;
  }
  
  .content {
    display: flex;
    min-height: 100vh;
    background-color: rgba(255, 255, 255,0.9);
  }


  .sidebar {
    width: 200px;
    background-color: rgb(255, 255, 0);
    padding: 20px;
  }
  
  .main {
    flex: 1;
    padding: 20px;
  }
  
  .search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .flights {
    display: flex;
    flex-direction: column;
  }
  
  .flight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #afafaf;
    padding: 10px;
    margin-bottom: 10px;
    border-radius:10px;
  }
  
  .flight-details {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
  
  .departure, .arrival {
    text-align: center;
  }
  
  .airline img {
    width: 50px;
  }
  
  .airline button {
    background-color: yellow;
    border: 1px solid black;
    border-radius:6px;
    padding: 10px;
    cursor: pointer;
  }

  .airline button:hover {
    background-color: gold;
  }
  .airline button:active{
    background-color: goldenrod;
  }