<div class="main">
    <div class="search-bar">
      <label>
        From
        <select [(ngModel)]="from">
          <option value="" disabled selected>Select Airport</option>
          <option *ngFor="let airport of airports" [value]="airport.name">{{ airport.name }}</option>
        </select>
      </label>
      <label>
        To
        <select [(ngModel)]="to">
          <option value="" disabled selected>Select Airport</option>
          <option *ngFor="let airport of airports" [value]="airport.name">{{ airport.name }}</option>
        </select>
      </label>
      <button (click)="filterFlights()">Search</button>
    </div>
    <div *ngIf="flights.length === 0">Loading flights...</div> <!-- Dodano informację o ładowaniu -->
    <div class="flights">
      <div *ngFor="let flight of flights" class="flight">
        <div class="flight-details">
          <div class="departure">
            <div>Departure</div>
            <div>{{ getAirportNameById(flight.airportFromAirportId) }}</div>
            <div>{{ flight.departure | date: 'shortTime' }}</div>
          </div>
          <div class="arrival">
            <div>Arrival</div>
            <div>{{ getAirportNameById(flight.airportToAirportId) }}</div>
            <div>{{ flight.arrival | date: 'shortTime' }}</div>
          </div>
        </div>
        <div class="airline">
          <button (click)="buyTicket(flight)">Buy Ticket</button>
        </div>
      </div>
    </div>
  </div>
