<div class="main">
    <div class="section">
    <h1>Ticket Service Authors</h1>
    <div class="authors">
        <a href="https://github.com/JakubDulewicz"><div class="faces"><div class="jd"></div><h3>Jakub Dulewicz</h3></div></a>
        <a href="https://github.com/lukpro681"><div class="faces"><div class="lp"></div><h3>Łukasz Prokop</h3></div></a>
        <a href="https://github.com/WojciechTworek"><div class="faces"><div class="wt"></div><h3>Wojciech Tworek</h3></div></a>
    </div>
    </div>
</div>
