<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>IATA Code</th>
        <th>Country</th>
        <th>City</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let airport of paginatedAirports">
        <td>{{ airport.airportId }}</td>
        <td>{{ airport.name }}</td>
        <td>{{ airport.iATA_CODE }}</td>
        <td>{{ airport.country }}</td>
        <td>{{ airport.city }}</td>
        <td>{{ airport.address }}</td>
      </tr>
    </tbody>
  </table>
  